<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>Playlist Groups</title>
        <meta name="description" content="Spotification - edit playlist groups">
        {% load static %}
        <script src="{% static 'playlists.js' %}" defer></script>   
        <script src="{% static 'modal.js' %}" defer></script>  
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="container-inner">
                <div class= "row">
                    <div class="col col-lg-6 col-lg-pull-6 mb-4">                       
                        {% if not selected_group %}
                        <h4>Selected Group: None</h4>
                        {% else %}                        
                        <div class="row">
                            <h4 class="col col-sm-8">Selected Group</h4>
                            <div class="col col-sm-4 text-right">
                                <span id="rename-group-link" class="btn btn-link pt-0 pb-0 text-success">rename</span>
                                <span id="delete-group-link" class="btn btn-link pt-0 pb-0 text-success">delete</span>
                            </div>
                        </div>
                        <h5>{{selected_group.name}}</h5>  

                        <div id="delete-modal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content" id="modal-content">
                                <div id="modal-title">
                                    <span id="close" class="close-modal">&times;</span> Confirm Group Delete
                                </div>
                                <div id = "modal-message">
                                    <p>Are you user you want to delete the group <b>{{selected_group.name}}</b>?</p>
                                    <p>Don't worry: the group's playlists will NOT be deleted, they will just be removed from the group.</p>
                                    <form action="{% url 'spotification:delete-group' %}" method="post" class="minimal">
                                        {% csrf_token %}
                                        <input type="hidden" name="group-id" value="{{selected_group.id}}">
                                        <div class="text-center">
                                            <span class="close-modal btn btn-secondary">Cancel</span>
                                            <button type="submit" class="btn btn-success">Delete Group</button> 
                                        </div>
                                    </form>
                                </div>                                
                            </div>
                        </div>

                        <div id="rename-modal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content" id="modal-content">
                                <div id="modal-title">
                                    <span id="close" class="close-modal">&times;</span> Rename Group
                                </div>
                                <div id="modal-message">
                                    <label>Current Name:</label>
                                    <h5>{{selected_group.name}}</h5>
                                    <form action="{% url 'spotification:rename-group' %}" method="post" class="minimal">
                                        {% csrf_token %}
                                        <input type="hidden" name="group-id" value="{{selected_group.id}}">
                                        <label>New Name:</label>
                                        <input type="text" name="new-name" class="form-control mb-3">
                                        <div class="text-center">
                                            <span class="close-modal btn btn-secondary">Cancel</span>
                                            <button type="submit" class="btn btn-success">Rename Group</button> 
                                        </div>
                                    </form>
                                </div> 
                            </div>
                        </div>

                        {% if selected_group.playlists.all|length > 0 %}
                        <p class="mb-1">Playslists in group:</p>
                        <ul>
                            {% for p in selected_playlists %}
                            <li>{{p.name}} <a href="{% url 'spotification:degroup' group_id=selected_group.id internal_playlist_id=p.id page='groups' %}">remove</a></li>
                            {% endfor %}
                        {% endif %}
                        </ul>

                        <form id="playlist-form" action="{% url 'spotification:update-group' %}"  
                            method="post" class="minimal">
                            {% csrf_token %}
                            <input type="hidden" id="group-id" name="group-id" value="{{selected_group.id}}">
                            
                            <div class="form-group">       
                                <label for="playlist">Add playlist to group: </label>
                                <select id="playlist" name="spotify-id" class="form-control">
                                    <option value="">[ select a playlist to add ]</option>
                                    {% for p in all_playlists %}
                                    <option value="{{p.id}}">{{p.name}}</option>
                                    {% endfor %}
                                </select> 
                                <div class="mt-1">
                                    <button type="submit" class="btn btn-secondary">Add</button>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>

                    <div class="col col-lg-6 col-lg-push-6">
                        <div id="groups">
                            <h4>My Playlist Groups</h4>                            
                            <form id="new-group-form" class="form-inline mb-2" action="{% url 'spotification:new-group' %}" 
                                method="post" class="minimal">
                                {% csrf_token %}
                                <!-- <div class="form-group form-row mt-3"> -->
                                    <label for="new-group" class="hidden-xs mr-2 mb-1">New Group</label>
                                    <!-- <div class="col-sm-7 "> -->
                                    <input id="new-group" name="new-group" class="form-control mr-2 mb-1" 
                                        placeholder="new group name">
                                    <!-- </div> -->
                                    <!-- <div class="col-sm-2"> -->
                                        <button type="submit" class="btn btn-secondary mb-1">Add</button>
                                    <!-- </div> -->
                                <!-- </div> -->
                            </form>
                            <label>Click on a group to edit it</label>
                            <div class="table-responsive">
                                <table class="table table-striped table-sm table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Group</th>
                                            <th>Playlists</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for g in groups %}
                                        <tr>
                                            <td>{{g.name}}</td>
                                            <td>{{g.playlists.all.count}}</td>
                                            <!-- <td><span class="btn btn-link pt-0 pb-0 text-success">delete</span></td> -->
                                        </tr>
                                        <input type="hidden" name="group-id" value="{{g.id}}">
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>

