<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
        <title>Spotification</title>
        <meta name="description" content="Spotification provides additional Spotify playlist features you can't get directly through Spotify. 
            Combine playlists into groups! Clone playlists you follow so you can modify them!">
        {% load static %} 
        <script src="{% static 'playlists.js' %}" defer></script>   
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="container-inner">
                <h3>Welcome to Spotification!</h3>
                <p>This site connects to your personal Spotify account and provides two features that Spotify does not:</p>
                <h4>Playlist Groups</h4>
                <p>Group related playlists together here on Spotification. You will then be able to play all tracks together for the group.
                    For example, you might create a group called "Dance" which contains these playlists: Latin Dance, 
                    HipHop Dance, and Electronic Dance. When you play the Dance group, the player (on this site) will shuffle 
                    the tracks together from those playslists and play them for you.</p>
                <h4>Playlist Cloning</h4>
                <p>The "Make it Mine" feature allows you to make a privately owned copy of a playlist you're following. 
                    Once cloned, you can edit the new playlist as you wish. The original playlist will be unfollowed.
                </p>
                <h4>What would you like to do?</h4>
                <ul>
                    <li><a href="{% url 'spotification:playlists-start' %}">Manage Playlists</a></li>
                    <li><a href="{% url 'spotification:groups-start' %}">Manage Groups</a></li>
                    <li><a href="{% url 'spotification:player' %}" target="_blank">Play a Playlist or Group - in a new tab</a></li>
                    <li><a href="{% url 'spotification:player' %}">Play a Playlist or Group - in this tab</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>

