<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spotification</title>
        <meta name="description" content="Spotify Clone">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">        
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="container-inner">
                <h4>My Playlists</h4>
                <p><b>Count: {{my_playlists|length}}</b></h4>
                <table class="table table-striped table-sm table-bordered">
                    <tr>
                        <th>Playlist Name</th>
                        <th>Tracks</th>
                        <th>Open</th>
                        <th>URI</th>                        
                    </tr>
                    {% for p in my_playlists %}
                    <tr>
                        <td>{{p.name}}</td>
                        <td>{{p.tracks.total}}</td>
                        <td><a href="{{p.external_urls.spotify}}">Open</a></td>
                        <td>{{p.uri}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>

