<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spotification</title>
        <meta name="description" content="Spotify Clone">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">     
        <script src="{% static 'playlists.js' %}" defer></script>   
        <link rel="shortcut icon" type="image/png" href="{% static 'spotify_favicon.png' %}"/>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <div class="container-inner">
                <div id="player">                            
                    <h4 >Player</h4>
                    <script src="https://sdk.scdn.co/spotify-player.js"></script>
                    <script>window.onSpotifyWebPlaybackSDKReady = () => spotifyWebPlaybackSDKReady('{{token}}');</script>
                    <div id="current-track"></div>                    
                    <form id="player-form" method="post" class="minimal">
                        {% csrf_token %}
                        <input type="hidden" id="device-id" class= "device-id" name="device-id">
                        <input type="hidden" id="uri" name="uri">
                        <!-- input "name" below will load into post data "action" key -->
                        <input type="submit" name="play" value="Play" class="player-button btn btn-success">
                        <input type="submit" name="skip" value="Skip" class="player-button btn btn-secondary">
                        <input type="submit" name="pause" value="Pause" class="player-button btn btn-danger">
                    </form>
                    <div id="player-error" class="mt-4"></div>
                </div>                
            </div>
        </div>
    </body>
</html>

